<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yourhead.stack.omgcontrols</string>
	<key>title</key>
	<string>OMG Controls!</string>
	<key>subtitle</key>
	<string>LOLROTFOMGWTFBBQ</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>icon</key>
	<string>icon</string>
	<key>tags</key>
	<array>
		<string>Demo</string>
		<string>Controls</string>
	</array>
	<key>customItems</key>
	<array>
		<dict>
			<key>title</key>
			<string>Button</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
			</array>
			<key>icons</key>
			<array>
				<integer>61575</integer>
			</array>
			<key>toolTip</key>
			<string>Button One</string>
			<key>type</key>
			<string>button</string>
			<key>id</key>
			<string>button_1_array</string>
			<key>default</key>
			<array>
				<true/>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Two Buttons</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>icons</key>
			<array>
				<integer>61952</integer>
				<integer>61953</integer>
			</array>
			<key>toolTip</key>
			<string>Button One</string>
			<key>type</key>
			<string>button-2</string>
			<key>id</key>
			<string>button_2_array</string>
			<key>default</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Three Buttons</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
			<key>icons</key>
			<array>
				<integer>61494</integer>
				<integer>61495</integer>
				<integer>61496</integer>
			</array>
			<key>toolTip</key>
			<string>Button One</string>
			<key>type</key>
			<string>button-3</string>
			<key>id</key>
			<string>button_3_array</string>
			<key>default</key>
			<array>
				<false/>
				<true/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Four Buttons</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>icons</key>
			<array>
				<integer>61608</integer>
				<integer>61609</integer>
				<integer>61610</integer>
				<integer>61611</integer>
			</array>
			<key>toolTip</key>
			<string>Button One</string>
			<key>radio</key>
			<true/>
			<key>type</key>
			<string>button-4</string>
			<key>id</key>
			<string>button_4_array</string>
			<key>default</key>
			<array>
				<false/>
				<true/>
				<true/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Checkbox</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>toolTip</key>
			<string>Number One</string>
			<key>type</key>
			<string>checkbox</string>
			<key>id</key>
			<string>checkbox</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>Two Checks</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>toolTip</key>
			<string>Two is better</string>
			<key>type</key>
			<string>checkbox-2</string>
			<key>id</key>
			<string>checkbox_2_array</string>
			<key>default</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Three Checks</string>
			<key>toolTip</key>
			<string>Three is new</string>
			<key>type</key>
			<string>checkbox-3</string>
			<key>radio</key>
			<true/>
			<key>id</key>
			<string>checkbox_3_array</string>
			<key>default</key>
			<array>
				<true/>
				<false/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Four Checks</string>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>checkbox-4</string>
			<key>id</key>
			<string>checkbox_4_array</string>
			<key>default</key>
			<array>
				<true/>
				<false/>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>divider</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>One Color</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>toolTip</key>
			<string>One</string>
			<key>type</key>
			<string>color</string>
			<key>id</key>
			<string>color</string>
			<key>allowsOpacity</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>Two Colors</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>toolTip</key>
			<string>Two is better</string>
			<key>type</key>
			<string>color-2</string>
			<key>id</key>
			<string>color_2_array</string>
			<key>allowsOpacity</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>Three Colors</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
			<key>toolTip</key>
			<string>Three is new</string>
			<key>type</key>
			<string>color-3</string>
			<key>id</key>
			<string>color_3_array</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Four Colors</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>color-4</string>
			<key>id</key>
			<string>color_4_array</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>divider</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Date</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>When</string>
			<key>type</key>
			<string>date</string>
			<key>id</key>
			<string>date</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>type</key>
			<string>divider</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Image</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>One image</string>
			<key>type</key>
			<string>image</string>
			<key>id</key>
			<string>image</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Link</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>One link</string>
			<key>type</key>
			<string>link</string>
			<key>id</key>
			<string>link</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>divider</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>One Number</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>toolTip</key>
			<string>Two is better</string>
			<key>type</key>
			<string>number</string>
			<key>id</key>
			<string>number</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Two Numbers</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>toolTip</key>
			<string>Two is better</string>
			<key>type</key>
			<string>number-2</string>
			<key>id</key>
			<string>number_2_array</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Three Numbers</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
			<key>toolTip</key>
			<string>Three is new</string>
			<key>type</key>
			<string>number-3</string>
			<key>id</key>
			<string>number_3_array</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Four Numbers</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>number-4</string>
			<key>id</key>
			<string>number_4_array</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>divider</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Select</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Menus are awesome</string>
			<key>type</key>
			<string>select</string>
			<key>id</key>
			<string>select</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>One</string>
					<key>value</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Two</string>
					<key>value</key>
					<string>2</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Three</string>
					<key>value</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>divider</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Slider</string>
			<key>toolTip</key>
			<string>Adjust the space between the columns.</string>
			<key>type</key>
			<string>slider</string>
			<key>id</key>
			<string>gutter</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<integer>10</integer>
			<key>default</key>
			<integer>1</integer>
			<key>ticks</key>
			<integer>11</integer>
			<key>units</key>
			<string>%</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>divider</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>One Text</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>toolTip</key>
			<string>One is better</string>
			<key>type</key>
			<string>input</string>
			<key>id</key>
			<string>text</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Two Text</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
			<key>toolTip</key>
			<string>Two is better</string>
			<key>type</key>
			<string>input-2</string>
			<key>id</key>
			<string>text_2_array</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Three Text</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
			<key>toolTip</key>
			<string>Three is new</string>
			<key>type</key>
			<string>input-3</string>
			<key>id</key>
			<string>input_3_array</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Four Text</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>input-4</string>
			<key>id</key>
			<string>input_4_array</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rule</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>divider</string>
			<key>id</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>title</key>
			<string>A text field for general use.</string>
			<key>subtitles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
				<string>Four</string>
			</array>
			<key>toolTip</key>
			<string>Four is better</string>
			<key>type</key>
			<string>info</string>
			<key>id</key>
			<string>field</string>
		</dict>
	</array>
</dict>
</plist>
